/* css personalizzati  */

.logo_img {
-moz-box-shadow: inset 10px 10px 70px #ccc;
-webkit-box-shadow: inset 10px 10px 70px #ccc;
box-shadow: inset 10px 10px 70px #ccc;
width: 130px;
}

.front_background_img {
-moz-box-shadow: inset 0px 50px 100px #000;
-webkit-box-shadow: inset 0px 50px 100px #000;
box-shadow: inset 0px 50px 100px #000;
}

aside.clients img {
  margin: 50px auto;
}


/* Map */

.map {
    height: 500px;
}

@media(max-width:768px) {
    .map {
        height: 75%;
    }
}

.map iframe {
    pointer-events: none;
}

/* Footer */

footer {
    padding: 50px 0;
}

#to-top {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
}
